$gray100: #fafbfc;
$gray200: #e1e3e5;
$gray300: #c8cacc;
$gray400: #afb1b4;
$gray500: #96989b;
$gray600: #7d7f82;
$gray700: #646668;
$gray800: #4b4c4f;
$gray900: #27282a;

$black100: #707070;
$black200: #626262;
$black300: #555555;
$black400: #474747;
$black500: #393939;
$black600: #2c2c2c;
$black700: #1f1f1f;
$black800: #121212;
$black900: #080b0b;
