$gray100: #6d6e70;
$gray200: #636466;
$gray300: #595a5c;
$gray400: #505153;
$gray500: #47484a;
$gray600: #3e3f41;
$gray700: #363739;
$gray800: #2e2f31;
$gray900: #27282a;

$black100: #707070;
$black200: #626262;
$black300: #555555;
$black400: #474747;
$black500: #393939;
$black600: #2c2c2c;
$black700: #1f1f1f;
$black800: #121212;
$black900: #080b0b;
