@use "@/styles/functions" as *;
@use "@/styles/colors" as *;

@mixin text-size($size, $height) {
    font-size: $size;
    line-height: $height;
    color: $gray100;
}

// title
@mixin text-h($size, $height) {
    @include text-size($size, $height);
    font-weight: bold;
}
@mixin text-h1 {
    @include text-h(calc_vh(72vh), calc_vh(72vh));
}
@mixin text-h2 {
    @include text-h(calc_vh(64vh), calc_vh(64vh));
}
@mixin text-h3 {
    @include text-h(calc_vh(48vh), calc_vh(48vh));
}
@mixin text-h4 {
    @include text-h(calc_vh(36vh), calc_vh(36vh));
}
@mixin text-h5 {
    @include text-h(calc_vh(28vh), calc_vh(28vh));
}
@mixin text-h6 {
    @include text-h(calc_vh(24vh), calc_vh(24vh));
}
@mixin text-h7 {
    @include text-h(calc_vh(21vh), calc_vh(21vh));
}
@mixin text-h8 {
    @include text-h(calc_vh(18vh), calc_vh(18vh));
}
@mixin text-h9 {
    @include text-h(calc_vh(16vh), calc_vh(16vh));
}
@mixin text-h10 {
    @include text-h(calc_vh(14vh), calc_vh(14vh));
}

// paragraph
@mixin text-p1 {
    @include text-size(calc_vh(24vh), calc_vh(28vh));
}
@mixin text-p2 {
    @include text-size(calc_vh(21vh), calc_vh(28vh));
}
@mixin text-p3 {
    @include text-size(calc_vh(16vh), calc_vh(24vh));
}
@mixin text-p4 {
    @include text-size(calc_vh(14vh), calc_vh(22vh));
}
@mixin text-p5 {
    @include text-size(calc_vh(12vh), calc_vh(20vh));
}
@mixin text-p6 {
    @include text-size(calc_vh(12vh), calc_vh(20vh));
}
