name: "Chromatic"

on:
    push:
        branches:
            - main
    pull_request:

jobs:
    test:
        name: "Publish to Chromatic"
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
              with:
                  fetch-depth: 0
            - name: Install dependencies
              run: npm ci
            - name: Publish to Chromatic
              run: npx chromatic --project-token=${{ secrets.CHROMATIC_PROJECT_TOKEN }}
